
  /*About me Page*/
@media (max-width: 768px) {
  .About {
    margin: 50px;
  }
  
  .About img {
    width: 100%;
  }
  
}

@media (min-width: 768px) {
  .About {
    display: grid;
    grid-template-columns: 50 auto auto;
    gap: 2em 2em;
    justify-content: center;
  }

  .About img {
    height: 30rem;
    padding: 0 50px;
  }
}
