@font-face {
    font-family: "Cabin Sketch";
    src: url('../fonts/cabinsketch-regular-webfont.ttf') format('truetype'), url('../fonts/cabinsketch-regular-webfont.woff') format('woff'), url('../fonts/cabinsketch-regular-webfont.woff2') format('woff2');
    font-weight: 400 700;
  }
  
@font-face {
  font-family: 'Overpass Mono';
    src: url('../fonts/overpass_mono/overpass-mono-light-webfont.woff') format('woff'),
          url('../fonts/overpass_mono/overpass-mono-light-webfont.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
   font-family: 'Overpass Mono';
    src: url('../fonts/overpass_mono/overpass-mono-regular-webfont.woff') format('woff'),
           url('../fonts/overpass_mono/overpass-mono-regular-webfont.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Overpass Mono';
    src: url('../fonts/overpass_mono/overpass-mono-semibold-webfont.woff') format('woff'),
         url('../fonts/overpass_mono/overpass-mono-semibold-webfont.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Overpass Mono';
    src: url('../fonts/overpass_mono/overpass-mono-bold-webfont.woff') format('woff'),
          url('../fonts/overpass_mono/overpass-mono-bold-webfont.woff2') format('woff2');
  font-weight: 700;
}

  html {
    --background-color: #e6e6e6;
    --titlesandtext: #36454F;
    --details: #8DA95F;
    --backgroundhighlights: #FF2B27;
  }
  
  * {
    box-sizing: border-box;
    }
  
  body {
      background-color: var(--background-color);
      background-size: cover;
      color: var(--titlesandtext);
      width: 100%;
      margin: 0;
  }
  
h1 { 
  font-family: 'Cabin Sketch', Georgia, sans-serif;
  font-weight: 700; /* BOLD */
  font-size: 30px;
}

    h2 { 
      font-family: 'Overpass Mono', Georgia, sans-serif;
      font-size: 25px; /* BOLD */
      font-weight: 700;
    }

h3 { 
  font-family: 'Cabin Sketch', Georgia, sans-serif;
  font-weight: 400; /* SKINNY */
  font-size: 20px;
  margin: 0px;
}
  
    h4 { 
      font-family: 'Overpass Mono', Georgia, sans-serif;
      font-weight: 300; /* SKINNY */
      font-size: 20px;
    }
        
    a {
      font-family: 'Overpass Mono', Georgia, sans-serif;
      font-weight: 600;
      font-size: 16px;
      text-decoration: none;
      color:#36454F;
    }

    p {
        font-family: 'Overpass Mono', Georgia, sans-serif;
        font-weight: 400;
        font-size: 16px;
      }
  
  header {
      width: 100%;   
  }
  
  #currentPage {
    color: red;
  }


  
  /*portfolio work content*/

  
  .chessRookie {
    margin-bottom: 7rem;
  }  
  
  .chessRookie h3 {
    font-size: 4rem;
  } 
  
  .woodmereArtMuseum {
    margin-bottom: 5rem;
  }
  
  .space {
    margin-top: 4rem;
  }
  
  .case {
    margin: 0rem 4rem 5rem 4rem;
  }
  
    .case h2 {
      margin: 3rem 0 0 0;
      font-size: 2rem;
    }
  
    .case h3 {
      margin: 6rem 0rem 2rem 0rem;
      font-size: 4em;
    }
  
    .case p {
      font-size: 1rem;
      margin: 2rem 0 2rem 0;
    }
  
    .case img {
      width: 100%;
    }
  
  .ident {
    margin: 0 0 0 4rem;
  }

  
  .title {
    display: flex;
    justify-content: center;
    margin: 0 0;
    padding: 50px;
  }

/* red link hover underline effect */

.underline { 
  color: #FF2B27; 
  display:inline-block; 
  margin:0;
}
  
.underline:after {
  display:block;
  content: '';
  border-bottom: solid 3px #FF2B27;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%; }

.underline:hover:after{ transform: scaleX(1); transform-origin:   0% 50%; }


