  #currentPage {
    color: red;
  }
  
  /*index introduction/homepage*/
  .container {
    scroll-snap-type: y proximity; /* you can do horizontal scroll with x mandatory */
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
  }
  
  section {
    scroll-snap-align: start;
    height: 100vh;
  }
  
  .Doyeon {
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
  }
  
    .Doyeon h4 {
      font-size: 2em;
      margin-top: 10rem;
    }
  
    .Doyeon h1 {
      font-size: 4rem;
      margin-top: 10rem;
    }

  .Hello {
    background-color: #36454F;
    color: #e6e6e6;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
  }  
  
  .Hello h2 {
    font-size: 18px;
  }  
  
  /*portfolio work content*/
  
  .Work {
    background-color: #F4E2B4;
  }

  .Work h1 {
    margin: 0;
  }
  
  .Work Img {
      width: 100%;
      margin: 1em 0em 0em 0em;
  }
  
  .Work h4 {
    margin: 0.7rem 0 2rem 0;
    font-size: 1.5rem;
  }
  
  /*fish means boxed (inside joke name). fish represents the texts that are boxed for design purposes (also represents button)*/
  
  .Fish {
    outline: 2px solid #36454F;
    text-align: center;
    width: max-content;
  }
  
    .Fish a {
      text-decoration: none;
      color: #FF2B27;
      padding: .1em;
    }
  
    .Fish h3 {
      padding: .1em;
    }
  
  .chessRookie {
    margin-bottom: 7rem;
  }  
  
  .chessRookie h3 {
    font-size: 4rem;
  } 
  
  .woodmereArtMuseum {
    margin-bottom: 5rem;
  }
  
  /*About me Page*/
  
  .About {
    margin: 0 4em 0 4em;
  }
  
  .About img {
    width: 100%;
  }
  
  .About h3 {
    margin-top: 3rem;
    font-size: 3.5rem;
  }
  
  .About p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  
  /*resume page*/
  
  .resumetitle {
    margin: 0 4em 5em 4em;
  }
  
    .resumetitle h3 {
      text-align: center;
    }
  
    .resumeFish {
      outline: 2px solid #36454F;
      width: max-content;
    }
  
    .resumeFish a {
    text-decoration: none;
    color: #FF2B27;
    padding: .1em;
    font-size: 2em;
    }
  
  .Resume {
    margin: 5em 4em 5em 4em;
  }
  
    .Resume h1 {
      font-size: 2.4em;
      border-bottom: 2px solid #36454F;
      margin: 5rem 0 1.5rem 0;
    }
  
    .Resume h2 {
      font-size: 2em;
      margin: 4rem 0 0 0;
    }
  
    .Resume h3 {
      font-size: 2em;
      margin-top: 3rem;
    }
  
    .Resume h4 {
      font-size: 1.5em;
      margin: 1rem 0 1rem 0;
    }
  
    .Resume p {
      font-size: 0.95em;
      margin: 1rem 0 1.5rem 0;
    }
  
    .Resume ul {
      margin: 1rem 0 5rem 2rem;
    }
  
  .space {
    margin-top: 4rem;
  }
  
  .phototitle {
    margin: 0 4em 0em 4em;
    padding-bottom: 10rem;
    background-image: url("../Images/photobackground.png");
    background-size: cover;
  }
  
  .phototitle h1 {
    margin-bottom: 0;
  }
  .phototitle p {
    margin: 2rem 0 0rem 1rem;
    font-size: 2rem;
  }
  
  .Photo {
    margin: 3em 5em 5em 5em;
  }
  
  .Photo Img {
    margin-bottom: 3em;
    width: 100%;
  }
  
  #photo ul {
    text-decoration: none;
  }
  
  .case {
    margin: 0rem 4rem 5rem 4rem;
  }
  
    .case h2 {
      margin: 3rem 0 0 0;
      font-size: 2rem;
    }
  
    .case h3 {
      margin: 6rem 0rem 2rem 0rem;
      font-size: 4em;
    }
  
    .case p {
      font-size: 1rem;
      margin: 2rem 0 2rem 0;
    }
  
    .case img {
      width: 100%;
    }
  
  .ident {
    margin: 0 0 0 4rem;
  }
  
  footer {
    display: flex;
    justify-content: center;
    margin: 9rem 0rem 5rem 0rem;
  }
  
  footer img {
    width: 7rem;
    height: auto;
    margin: 0 2em;
  }
  
  
  .container {
    width: 100%;
    margin: auto;
  }
