
  /*Photo Page*/

  .phototitle {
    margin: 50px;
  }
  
  .phototitle h1 {
    margin-bottom: 0;
  }

  @media (max-width: 600px) {

    .Photo {
      margin: 3em 3em 5em 3em;
    }

    .Photo Img {
      margin-bottom: 3em; 
      width: 100%;
    }
  }

  @media (min-width: 600px) and (max-width: 900px) {

    .Photo {
      margin: 3em 7em 5em 7em;
    }

    .Photo Img {
      margin-bottom: 3em; 
      width: 100%;
    }
  }

  @media (min-width: 900px) and (max-width: 1200px) {
    
    .phototitle {
      padding: 0 8rem 4rem 8rem;
    }
    
    .phototitle h1 {
      margin-bottom: 0;
    }
    
    .Photo Img {
      width: 15em;
    }

    .Photo {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 2em 2em;
      justify-content: center;
    }

    .photography1 {
      grid-area: 1 / 1 / 3 / 2;
    }

    .photography2 {
      grid-area: 1 / 2 / 2 / 3;
    }
    
    .photography6 {
      grid-area: 1 / 3 / 3 / 4;
    }

    .photography7 {
      grid-area: 2 / 2 / 4 / 3;
    }

    .photography10 {
      grid-area: 4 / 1 / 6 / 2;
    }

    .photography11 {
      grid-area: 4 / 3 / 6 / 4;
    }

    .photography9 {
      grid-area: 6 / 1 / 7 / 2;
    }

    .photography8 {
      grid-area: 5 / 2 / 7 / 3;
    }

    .photography12 {
      grid-area: 6 / 3 / 7 / 4;
    }

  }
  
  
  @media (min-width: 1200px) {

    .phototitle {
      margin: 8rem 15rem 0 15rem;
      padding-bottom: 4rem;
    }
    
    .phototitle h1 {
      margin-bottom: 0;
    }
    
    .Photo Img {
      width: 20em;
    }

    .Photo {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 40px 40px;
      justify-content: center;
    }

    .photography1 {
      grid-area: 1 / 1 / 3 / 2;
    }

    .photography2 {
      grid-area: 1 / 2 / 2 / 3;
    }
    
    .photography6 {
      grid-area: 1 / 3 / 3 / 4;
    }

    .photography7 {
      grid-area: 2 / 2 / 4 / 3;
    }

    .photography10 {
      grid-area: 4 / 1 / 6 / 2;
    }

    .photography11 {
      grid-area: 4 / 3 / 6 / 4;
    }

    .photography9 {
      grid-area: 6 / 1 / 7 / 2;
    }

    .photography5 {
      grid-area: 4 / 2 /  / 3;
    }

    .photography8 {
      grid-area: 5 / 2 / 7 / 3;
    }

    .photography12 {
      grid-area: 6 / 3 / 7 / 4;
    }

  }
  