  
  /*resume page*/
  
  /*fish means boxed (inside joke name). fish represents the texts that are boxed for design purposes (also represents button)*/

  .resumeFish {
    width: max-content;
  }

  .Resume h1 {
    border-bottom: 2px solid #36454F;
    padding-top: 1em;
    margin: 0;
  }

  .Resume h2 {
    padding-top: 13px;
    margin: 0;
  }

  .Resume h3 {
    padding-top: 2px;
    margin: 0;
  }

  .Resume h4 {
    padding-top: 1px;
    margin: 0;
  }

  .Resume p {
    padding-top: 1px;
    margin: 0;
  }

  .Resume ul {
    padding-top: 2px;
    margin: 0;
  }

  @media (max-width: 600px) {

    .Resume {
      margin: 15rem 10vw 0rem 10vw;
    }

    .resumeFish{
      margin: 2em 0;
    }

  }

  @media (min-width: 600px) and (max-width: 1100px) {

    .Resume {
      margin: 15rem 15vw 0rem 15vw;
    }

    .resumeFish{
      margin: 2em 0;
    }

  }

@media (min-width: 1100px) {
  .Resume {
    margin: 15rem 20vw 0rem 20vw;
  }

  .resumeFish {
    display: flex;
    justify-content: center;
    margin: 4rem 0 5rem 0;
  }

}
